<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Literally.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Literally.Properties.Settings>
            <setting name="Save_text1" serializeAs="String">
                <value>C:\Users\Public\Videos</value>
            </setting>
            <setting name="Save_text2" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="Save_text3" serializeAs="String">
                <value>fox</value>
            </setting>
        </Literally.Properties.Settings>
    </userSettings>
</configuration>